<h4> Showing Secure Data </h2>

<blockquote>
  <p><%= @aesir.description %></p>
</blockquote>

<em>Encrypted using: <%= @aesir.encryption_algo %></em>

<%= form_for :decrypt, Routes.aesir_path(BifrostWeb.Endpoint, :decrypt, @aesir.uuid), [method: :get], fn f -> %>
  <%= label f, :key, class: "control-label" %>
  <%= password_input f, :key %>
<% end %>
