export BIFROST_PORT=4010
export BIFROST_USER=dev_user
export BIFROST_PASSWORD=secret

# Used for Cypress browser tests
# NOTE: The CYPRESS_{X} values must correspond to {X} values
export CYPRESS_BIFROST_PORT=${BIFROST_PORT}
export CYPRESS_BIFROST_USER=${BIFROST_USER}
export CYPRESS_BIFROST_PASSWORD=${BIFROST_PASSWORD}

# Override .envrc using .envrc.custom file
[ -f .envrc.custom ] && source .envrc.custom

